@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6F7D8C;
  overflow-x: hidden;
}

.text-container {
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 3px;
  max-width: 450px;  
}

h1 {
    font-size: 3em;
    font-family: 'Slabo 27px', serif;
  }